"""App entrypoint."""

import typer

from {{ python_package_import_name }} import __version__
from {{ python_package_import_name }}.logger import get_logger
from {{ python_package_import_name }}.run import hello_world

logger = get_logger()

app = typer.Typer()


@app.command()
def run():
    """Run the app."""
    hello_world()


@app.command()
def version():
    """Print the version number."""
    print(__version__)


def main():
    """App entrypoint."""
    app()


if __name__ == "__main__":
    main()
